# 任务4.2　掌握`DataFrame`的常用操作

&emsp;&emsp;Microsoft SQL Server为中国大陆用户指定的默认排序规则（字符集）为`Chinese_PRC_CI_AI_WS`，这是一种Unicode字符集，与Python3相兼容。但Windows内使用的字符集为GBK而不是UTF-8，所以SQL Server通过`CHAR/VARCHAR/TEXT`和`NCHAR/NVARCHAR/NTEXT`来区分GBK编码和UTF-8编码。

&emsp;&emsp;`pandas`将`DataFrame`数据表写入SQL Server的时候，会自动为字符串选用`VARCHAR(MAX)`字段格式。为了能在Python3和Jupyter上正常显示，需要通过SSMS重新更改为`NVARCHAR(MAX)`格式。

## 代码4-12　订单详情表的4个基本属性

In [1]:
from sqlalchemy import create_engine
import pandas
engine = create_engine('mssql+pymssql://sa:123456@localhost:1433/testdb?charset=utf8')
detail = pandas.read_sql_table('meal_order_detail1', con=engine)
print('订单详情表的索引为：', detail.index)

订单详情表的索引为： RangeIndex(start=0, stop=2779, step=1)

In [2]:
print('订单详情表的所有值为：', detail.values, sep='\n')

订单详情表的所有值为：
[['2956' '417' '610062' ... 'NA' 'caipu/104001.jpg' '1442']
 ['2958' '417' '609957' ... 'NA' 'caipu/202003.jpg' '1442']
 ['2961' '417' '609950' ... 'NA' 'caipu/303001.jpg' '1442']
 ...
 ['6756' '774' '609949' ... 'NA' 'caipu/404005.jpg' '1138']
 ['6763' '774' '610014' ... 'NA' 'caipu/302003.jpg' '1138']
 ['6764' '774' '610017' ... 'NA' 'caipu/302006.jpg' '1138']]

In [3]:
print('订单详情表的列名为：', detail.columns, sep='\n')

订单详情表的列名为：
Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id'],
      dtype='object')

In [4]:
print('订单详情表的数据类型为：', detail.dtypes, sep='\n')

订单详情表的数据类型为：
detail_id                    object
order_id                     object
dishes_id                    object
logicprn_name                object
parent_class_name            object
dishes_name                  object
itemis_add                   object
counts                      float64
amounts                     float64
cost                         object
place_order_time     datetime64[ns]
discount_amt                 object
discount_reason              object
kick_back                    object
add_inprice                  object
add_info                     object
bar_code                     object
picture_file                 object
emp_id                       object
dtype: object

## 代码4-13　`size`、`ndim`和`shape`属性的使用

In [5]:
print('订单详情表的元素个数为：', detail.size)
print('订单详情表的维度数为：', detail.ndim)
print('订单详情表的形状为：', detail.shape)

订单详情表的元素个数为： 52801
订单详情表的维度数为： 2
订单详情表的形状为： (2779, 19)

## 代码4-14　使用`T`属性进行转置

In [6]:
print('订单详情表转置前形状为：', detail.shape)
print('订单详情表转置后形状为：', detail.T.shape)

订单详情表转置前形状为： (2779, 19)
订单详情表转置后形状为： (19, 2779)

## 代码4-15　使用字典访问内部数据的方式访问`DataFrame`单列数据

In [7]:
order_id = detail['order_id']
print('订单详情表中的order_id的形状为：', order_id.shape)

订单详情表中的order_id的形状为： (2779,)

## 代码4-16　使用访问属性的方式访问`DataFrame`单列数据

In [8]:
dished_name = detail.dishes_name
print('订单详情表的dishes_name的形状为：', dished_name.shape)

订单详情表的dishes_name的形状为： (2779,)

## 代码4-17　`DataFrame`单列多行数据获取

In [9]:
dishes_name5 = detail['dishes_name'][:5]
print('订单详情表中的dishes_name前5个元素为：', dishes_name5, sep='\n')

订单详情表中的dishes_name前5个元素为：
0     蒜蓉生蚝
1    蒙古烤羊腿
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
Name: dishes_name, dtype: object

## 代码4-18　访问`DataFrame`多列的多行数据

In [10]:
orderDish = detail[['order_id', 'dishes_name']][:5]
print('订单详情表中的order_id和dishes_name前5个元素为：', orderDish, sep='\n')

订单详情表中的order_id和dishes_name前5个元素为：
  order_id dishes_name
0      417        蒜蓉生蚝
1      417       蒙古烤羊腿
2      417        大蒜苋菜
3      417       芝麻烤紫菜
4      417         蒜香包

## 代码4-19　访问`DataFrame`多行数据

In [11]:
order5 = detail[:][1:6]
print('订单详情表的1~6行元素为：')
order5

订单详情表的1~6行元素为：

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442
5,1899,301,610019,NA,NA,白斩鸡,0,1.0,88.0,NA,2016-08-01 11:15:00,NA,NA,NA,0,NA,NA,caipu/204002.jpg,1095

## 代码4-20　使用`DataFrame`的`head`和`tail`方法获取多行数据

In [12]:
print('订单详情表中前5行数据为：')
detail.head()

订单详情表中前5行数据为：

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NA,NA,蒜蓉生蚝,0,1.0,49.0,NA,2016-08-01 11:05:00,NA,NA,NA,0,NA,NA,caipu/104001.jpg,1442
1,2958,417,609957,NA,NA,蒙古烤羊腿,0,1.0,48.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/202003.jpg,1442
2,2961,417,609950,NA,NA,大蒜苋菜,0,1.0,30.0,NA,2016-08-01 11:07:00,NA,NA,NA,0,NA,NA,caipu/303001.jpg,1442
3,2966,417,610038,NA,NA,芝麻烤紫菜,0,1.0,25.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/105002.jpg,1442
4,2968,417,610003,NA,NA,蒜香包,0,1.0,13.0,NA,2016-08-01 11:11:00,NA,NA,NA,0,NA,NA,caipu/503002.jpg,1442

In [13]:
print('订单详情表后5行元素为：')
detail.tail()

订单详情表后5行元素为：

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
2774,6750,774,610011,NA,NA,白饭/大碗,0,1.0,10.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/601005.jpg,1138
2775,6742,774,609996,NA,NA,牛尾汤,0,1.0,40.0,NA,2016-08-10 21:56:00,NA,NA,NA,0,NA,NA,caipu/201006.jpg,1138
2776,6756,774,609949,NA,NA,意文柠檬汁,0,1.0,13.0,NA,2016-08-10 22:01:00,NA,NA,NA,0,NA,NA,caipu/404005.jpg,1138
2777,6763,774,610014,NA,NA,金玉良缘,0,1.0,30.0,NA,2016-08-10 22:03:00,NA,NA,NA,0,NA,NA,caipu/302003.jpg,1138
2778,6764,774,610017,NA,NA,酸辣藕丁,0,1.0,33.0,NA,2016-08-10 22:04:00,NA,NA,NA,0,NA,NA,caipu/302006.jpg,1138

## 代码4-21　使用`loc`和`iloc`实现单列切片

In [14]:
dishes_name1 = detail.loc[:, 'dishes_name']
print('使用loc提取dishes_name列的size为：', dishes_name1.size)

使用loc提取dishes_name列的size为： 2779

In [15]:
dishes_name2 = detail.iloc[:, 3]
print('使用iloc提取第3列的size为：', dishes_name2.size)

使用iloc提取第3列的size为： 2779

## 代码4-22　使用`loc`、`iloc`实现多列切片

In [16]:
orderDish1 = detail.loc[:, ['order_id', 'dishes_name']]
print('使用loc提取order_id和dishes_name列的size为：', orderDish1.size)

使用loc提取order_id和dishes_name列的size为： 5558

In [17]:
orderDish2 = detail.iloc[:, [1, 3]]
print('使用iloc提取第1和第3列的size为：', orderDish2.size)

使用iloc提取第1和第3列的size为： 5558

## 代码4-23　使用`loc`、`iloc`实现花式切片

In [18]:
print('列名为order_id和dishes_name的行名为3的数据为：', detail.loc[3, ['order_id', 'dishes_name']], sep='\n')

列名为order_id和dishes_name的行名为3的数据为：
order_id         417
dishes_name    芝麻烤紫菜
Name: 3, dtype: object

In [19]:
print('列名为order_id和dishes_id行名为2~6的数据为：', detail.loc[2:6, ['order_id', 'dishes_name']], sep='\n')

列名为order_id和dishes_id行名为2~6的数据为：
  order_id dishes_name
2      417        大蒜苋菜
3      417       芝麻烤紫菜
4      417         蒜香包
5      301         白斩鸡
6      301        香烤牛排

In [20]:
print('列位置为1和3，行位置为3的数据为：', detail.iloc[3, [1, 3]], sep='\n')

列位置为1和3，行位置为3的数据为：
order_id         417
logicprn_name     NA
Name: 3, dtype: object

In [21]:
print('列位置为1和3，行位置为2~6的数据为：', detail.iloc[2:7, [1, 3]], sep='\n')

列位置为1和3，行位置为2~6的数据为：
  order_id logicprn_name
2      417            NA
3      417            NA
4      417            NA
5      301            NA
6      301            NA

## 代码2-24　使用`loc`和`iloc`实现条件切片

In [22]:
print(
    'detail中order_id为458的dishes_name为：',
    detail.loc[detail['order_id'] == '458', ['order_id', 'dishes_name']],
    sep='\n'
)

detail中order_id为458的dishes_name为：
    order_id dishes_name
145      458       蒜香辣花甲
146      458        剁椒鱼头
147      458     凉拌蒜蓉西兰花
148      458        木须豌豆
149      458        辣炒鱿鱼
150      458        酸辣藕丁
151      458       炝炒大白菜
152      458       香菇鸡肉粥
153      458        干锅田鸡
154      458     桂圆枸杞鸽子汤
155      458       五香酱驴肉
156      458    路易拉菲红酒干红
157      458       避风塘炒蟹
158      458       白饭/大碗

In [23]:
%xmode Minimal
print(
    'detail中order_id为458的第1、5列数据为：',
    detail.iloc[detail['order_id'] == '458', [1, 5]],
    sep='\n'
)

Exception reporting mode: Minimal

NotImplementedError: iLocation based boolean indexing on an integer type is not available

## 代码4-25　使用`iloc`实现条件切片

In [24]:
print(
    'detail中order_id为458的第1、5列数据为：',
    detail.iloc[(detail['order_id'] == '458').values, [1, 5]],
    sep='\n'
)

detail中order_id为458的第1、5列数据为：
    order_id dishes_name
145      458       蒜香辣花甲
146      458        剁椒鱼头
147      458     凉拌蒜蓉西兰花
148      458        木须豌豆
149      458        辣炒鱿鱼
150      458        酸辣藕丁
151      458       炝炒大白菜
152      458       香菇鸡肉粥
153      458        干锅田鸡
154      458     桂圆枸杞鸽子汤
155      458       五香酱驴肉
156      458    路易拉菲红酒干红
157      458       避风塘炒蟹
158      458       白饭/大碗

## 代码4-26　使用`loc`、`iloc`、`ix`实现切片比较

In [25]:
print('列名为dishes_name行名为2~6的数据为：', detail.loc[2:6, 'dishes_name'], sep='\n')

列名为dishes_name行名为2~6的数据为：
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
6     香烤牛排
Name: dishes_name, dtype: object

In [26]:
print('列位置为5，行位置为2~6的数据为：', detail.iloc[2:6, 5], sep='\n')

列位置为5，行位置为2~6的数据为：
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
Name: dishes_name, dtype: object

In [27]:
%xmode Minimal
print('列位置为5，行名为2~6的数据为：', detail.ix[2:6, 5], sep='\n')

Exception reporting mode: Minimal
列位置为5，行名为2~6的数据为：
2     大蒜苋菜
3    芝麻烤紫菜
4      蒜香包
5      白斩鸡
6     香烤牛排
Name: dishes_name, dtype: object

C:\Users\legen\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

C:\Users\legen\Anaconda3\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

## 代码4-27　更改`DataFrame`中的数据

In [28]:
detail.loc[detail['order_id'] == '458', 'order_id'] = '45800'
print(
    '更改后detail中order_id为458的order_id为：',
    detail.loc[detail['order_id'] == '458', 'order_id'],
    sep='\n'
)
print(
    '更改后detail中order_id为45800的order_id为：',
    detail.loc[detail['order_id'] == '45800', 'order_id'],
    sep='\n'
)

更改后detail中order_id为458的order_id为：
Series([], Name: order_id, dtype: object)
更改后detail中order_id为45800的order_id为：
145    45800
146    45800
147    45800
148    45800
149    45800
150    45800
151    45800
152    45800
153    45800
154    45800
155    45800
156    45800
157    45800
158    45800
Name: order_id, dtype: object

## 代码4-28　为`DataFrame`新增一列非定值

In [29]:
detail['payment'] = detail['counts'] * detail['amounts']
print('detail新增列payment的前5行为：', detail['payment'].head(), sep='\n')

detail新增列payment的前5行为：
0    49.0
1    48.0
2    30.0
3    25.0
4    13.0
Name: payment, dtype: float64

## 代码4-29　`DataFrame`新增一列定值

In [30]:
detail['pay_way'] = '现金支付'
print('detail新增列pay_way的前5行为：', detail['pay_way'].head(), sep='\n')

detail新增列pay_way的前5行为：
0    现金支付
1    现金支付
2    现金支付
3    现金支付
4    现金支付
Name: pay_way, dtype: object

## 代码4-30　删除`DataFrame`某列

In [31]:
print('删除pay_way前detail的列索引为：', detail.columns, sep='\n')
detail.drop(labels='pay_way', axis=1, inplace=True)
print('删除pay_way后detail的列索引为：', detail.columns, sep='\n')

删除pay_way前detail的列索引为：
Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id', 'payment', 'pay_way'],
      dtype='object')
删除pay_way后detail的列索引为：
Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id', 'payment'],
      dtype='object')

## 代码4-31　删除`DataFrame`某几行

In [32]:
print('删除1~10行前detail的长度为：', len(detail))
detail.drop(labels=range(1, 11), axis=0, inplace=True)
print('删除1~10行后detail的长度为：', len(detail))

删除1~10行前detail的长度为： 2779
删除1~10行后detail的长度为： 2769

## 代码4-32　使用`numpy.mean`函数计算平均价格

In [33]:
import numpy
print('订单详情表中amount（价格）的平均值为：', numpy.mean(detail['amounts']))

订单详情表中amount（价格）的平均值为： 45.343084145901045

## 代码4-33　通过`pandas`实现销量和加个的协方差矩阵计算

In [34]:
print('订单详情表中amount（价格）的协方差矩阵为：', detail['amounts'].mean())

订单详情表中amount（价格）的协方差矩阵为： 45.343084145901045

## 代码4-34　使用`describe`方法实现数值型特征的描述性统计

In [35]:
print('订单详情表counts和amounts两列的描述性统计为：', detail[['counts', 'amounts']].describe(), sep='\n')

订单详情表counts和amounts两列的描述性统计为：
            counts      amounts
count  2769.000000  2769.000000
mean      1.111593    45.343084
std       0.626521    36.841316
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

## 代码4-35　对菜品名称频数统计

In [36]:
print('订单详情表dishes_name聘书统计结果前10为：', detail['dishes_name'].value_counts()[:10], sep='\n')

订单详情表dishes_name聘书统计结果前10为：
白饭/大碗        91
凉拌菠菜         77
谷稻小庄         72
麻辣小龙虾        65
白饭/小碗        60
五色糯米饭(七色)    58
焖猪手          55
芝士烩波士顿龙虾     55
辣炒鱿鱼         53
水煮鱼          47
Name: dishes_name, dtype: int64

## 代码4-36　将`object`数据强制转换为`category`类型

In [37]:
detail['dishes_name'] = detail['dishes_name'].astype('category')
print('订单信息表dishes_name列转变数据类型后为：', detail['dishes_name'].dtypes)

订单信息表dishes_name列转变数据类型后为： category

## 代码4-37　`category`类型特征的描述性统计

In [38]:
print('订单信息表dishes_name的描述统计结果为：', detail['dishes_name'].describe(), sep='\n')

订单信息表dishes_name的描述统计结果为：
count      2769
unique      145
top       白饭/大碗
freq         91
Name: dishes_name, dtype: object

## 代码4-38　查看餐饮数据基本信息

In [39]:
from sqlalchemy import create_engine
import pandas
engine = create_engine('mssql+pymssql://sa:123456@localhost:1433/testdb?charset=utf8')
detail = pandas.read_sql_table('meal_order_detail1', con=engine)
order = pandas.read_table('data/meal_order_info.csv', sep=',', encoding='gbk')
user = pandas.read_excel('data/users.xlsx')
print('订单详情表的维度为：', detail.ndim)
print('订单信息表的维度为：', order.ndim)
print('客户信息表的维度为：', user.ndim)

订单详情表的维度为： 2
订单信息表的维度为： 2
客户信息表的维度为： 2

In [40]:
print('订单详情表的形状为：', detail.shape)
print('订单信息表的形状为：', order.shape)
print('客户信息表的形状为：', user.shape)

订单详情表的形状为： (2779, 19)
订单信息表的形状为： (945, 21)
客户信息表的形状为： (734, 37)

In [41]:
print('订单详情表的元素个数为：', detail.size)
print('订单信息表的元素个数为：', order.size)
print('客户信息表的元素个数为：', user.size)

订单详情表的元素个数为： 52801
订单信息表的元素个数为： 19845
客户信息表的元素个数为： 27158

## 代码4-39　餐饮菜品销售的描述性统计

In [42]:
print(
    '订单详情表counts和amounts两列的描述性统计为：',
    detail.loc[:, ['counts', 'amounts']].describe(),
    sep='\n'
)

订单详情表counts和amounts两列的描述性统计为：
            counts      amounts
count  2779.000000  2779.000000
mean      1.111191    45.337172
std       0.625428    36.808550
min       1.000000     1.000000
25%       1.000000    25.000000
50%       1.000000    35.000000
75%       1.000000    56.000000
max      10.000000   178.000000

In [43]:
detail['order_id'] = detail['order_id'].astype('category')
detail['dishes_name'] = detail['dishes_name'].astype('category')
print(
    '订单信息表order_id（订单编号）与dishes_name（菜品名称）的描述性统计结果为：',
    detail[['order_id', 'dishes_name']].describe(),
    sep='\n'
)

订单信息表order_id（订单编号）与dishes_name（菜品名称）的描述性统计结果为：
       order_id dishes_name
count      2779        2779
unique      278         145
top         392       白饭/大碗
freq         24          92

## 代码4-40　剔除餐饮菜品中整列为空或者取值完全相同的列

In [44]:
def dropNullStd(data):
    before_len = data.shape[1]
    col_is_null = data.describe().loc['count'] == 0
    for i in range(len(col_is_null)):
        if col_is_null[i]:
            data.drop(col_is_null.index[i], axis=1, inplace=True)
    std_is_zero = data.describe().loc['std'] == 0
    for i in range(len(std_is_zero)):
        if std_is_zero[i]:
            data.drop(std_is_zero.index[i], axis=1, inplace=True)
    after_len = data.shape[1]
    print('剔除的列的数目为：', before_len - after_len)
    print('剔除后数据的形状为：', data.shape)
dropNullStd(detail)

剔除的列的数目为： 0
剔除后数据的形状为： (2779, 19)

In [45]:
dropNullStd(order)

剔除的列的数目为： 7
剔除后数据的形状为： (945, 14)

In [46]:
dropNullStd(user)

剔除的列的数目为： 13
剔除后数据的形状为： (734, 24)