# 课后习题4　操作题

&emsp;&emsp;读取`mtcars`数据集并实现以下操作。

1. 查看`mtcars`数据集的维度、大小等信息。

In [1]:
import numpy
import pandas
mtcars = pandas.read_csv('data/mtcars.csv', sep=',', encoding='gbk')
print('数据集拥有', mtcars.ndim, "个维度", '\n')
print('数据集的大小为：', mtcars.size, '\n')
print('数据集的形状为：', mtcars.shape, '\n')
print('数据集占用的内存空间为：', mtcars.memory_usage(), sep='\n')

数据集拥有 2 个维度

数据集的大小为： 384

数据集的形状为： (32, 12)

数据集占用的内存空间为：
Index         128
Unnamed: 0    256
mpg           256
cyl           256
disp          256
hp            256
drat          256
wt            256
qsec          256
vs            256
am            256
gear          256
carb          256
dtype: int64

2. 使用`describe`方法对整个`mtcars`数据集进行描述性统计。

In [2]:
print('数据集整体的描述性统计为：')
mtcars.describe()

数据集整体的描述性统计为：

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

3. 计算不同`cyl`（汽缸数）、`carb`（化油器）对应的`mpg`（油耗）和`hp`（马力）的均值

In [4]:
mtcars_pivot = pandas.pivot_table(
    mtcars[['cyl', 'carb', 'mpg', 'hp']],
    index=['cyl', 'carb'],
    values=['mpg', 'hp'],
    aggfunc=numpy.mean
)
print('整合后生成的数据透视表为：', mtcars_pivot, sep='\n')

整合后生成的数据透视表为：
             hp    mpg
cyl carb
4   1      77.4  27.58
    2      87.0  25.90
6   1     107.5  19.75
    4     116.5  19.75
    6     175.0  19.70
8   2     162.5  17.15
    3     180.0  16.30
    4     234.0  13.15
    8     335.0  15.00